$orange: #ff6000;
$orange-light: #ffeee3;
$grey-dark: #484848;
$grey: #646464;
$grey-light1: #9b9b9b;
$grey-light2: #b0b0b0;
$grey-light3: #cdcdcd;
$grey-light4: #e5e5e5;
$grey-light5: #eeeeee;
$grey-light6: #f1f1f1;
$white: #ffffff;
$black: #000000;
$red: #f90000;
